body {
font-family: 'Roboto', sans-serif;
}
body {
    background-color: #326e9c;
}
.cloudlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
.headtext {
    font-size: 80px;
    text-align: center;
    color: white;
     -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}
